body {
    font-family: "Roboto";
    margin: 0;
}

.main_container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.header {
    background-color: #1F2937;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    flex: 1;
    flex-wrap: wrap;
    padding: 8px;
    margin-left: 80px;
}

.right-links {
    margin-right: 80px;
}

ol {
    display: flex;
    gap: 10px;
    align-items: flex-start;
}

li {
    list-style: none;
}

a {
    color: #F9FAF8;
    text-decoration: none;
}


.hero_selection {
    display: flex;
    flex-direction: column;
}

.center_info {
    display: flex;;
    background-color: #1F2937;
}

.mid-section-text {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-left: 80px;
    margin-right: 60px;
}

.main-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.secondary-text, 
.first-signup {
    font-size: 18px;
    color: #F9FAF8;
    font-weight: 900;
}

button {
    background-color: #3882f6; /* Green */
    border-radius: 10px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.feature_image {
    height: 350px;
    width: auto;
    margin-right: 80px;
    margin-top: 50px;
    margin-bottom: 90px;
}

.custom {
    display: flex;
    background-color: white;
    text-align: center;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
.selection{
    margin-top: 60px;
    margin-bottom: 100px;
}
.selection_header {
    text-align: center;
    color: #1F2937;
    font-weight: 900;
    font-size: 36px;
    margin: 30px;

}
.selection_image {
    height: 250px;
    width: 250px;
    border: solid 2px #3882f6;
    border-radius: 15px;
}

.text {
    font-size: 20px;
}

.Testimonial {
    background-color: #E5E7EB;
    display: flex;
    height: 500px;
    width: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    color: #1F2937;
    width: 900px;
}

.name {
    font-size: 36px;
    justify-content: right;
    margin-left: 400px
}

.action {
    height: 500px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.offers {
    display: flex;
    flex-direction: column;
}

.blue_box {
    display: flex;
    background-color: #3882f6;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 25px;
    padding: 60px;
    gap: 60px;
    border-radius: 15px;
}

.sign_up {
    font-size: 20px;
    border: 5px solid white;
}

.footer {
    height: 100px;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: white;
}